* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #B6CBCB;
  padding: 50px;
}

#App {
  text-align: center;
}

#App #heading {
  text-align: center;
  margin-bottom: 20px;
}

#App #main-body dl{
  width: 80vw;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#App h1 {
  background-color: #29BAA6;
  color: #ffffff;
  display: inline-block;
  padding: 5px 10px;
  font-size: 2.8rem;
}

/* Card styling */
.desc-container {
  background-color: #ffffff;
  width: 320px;
  height: 280px;
  padding: 15px 20px;
  text-align: center;
  margin: 20px;
}

.desc-container .desc-title span {
  display: block;
  font-size: 3rem;
}

.desc-container .desc-title .title {
  font-size: 1.7rem;
  line-height: 1.2;
  color: #29BAA6;
  margin: 5px 0 5px;
}

.desc-container dd {
  color: #4e4c4c;
}